<app-navbar></app-navbar>
<main class="form-container">
  <h2>Formulário de Cadastro</h2>
  <p>Todos os campos são obrigatórios.</p>

  <div class="form" [formGroup]="employeeForm">
    <div class="form-group">
      <div class="input">
        <label>Código</label>
        <input formControlName="id" type="text">
      </div>
      <div class="input">
        <label>Nome completo</label>
        <input formControlName="fullName" type="text">
      </div>
      <div class="input">
        <label>Apelido</label>
        <input formControlName="nickname" type="text">
      </div>
    </div>

    <div class="form-group">
      <div class="input">
        <label>Nome do pai/mãe</label>
        <input formControlName="parentName" type="text">
      </div>
      <div class="input">
        <label>Nome do pai/mãe</label>
        <input formControlName="otherParentName" type="text">
      </div>
    </div>

    <div class="form-group">
      <div class="input">
        <label>CPF</label>
        <input formControlName="cpf" type="text" mask="000.000.000-00">
      </div>
      <div class="input">
        <label>Nascimento</label>
        <input formControlName="birthdate" type="date" max="{{ today }}">
      </div>
      <div class="input">
        <label>Cargo</label>
        <input formControlName="role" type="text">
      </div>
    </div>
  </div>
</main>

<div class="form-actions">

  <div class="actions">
    <button (click)="submitForm()">Salvar</button>
    <button (click)="cleanForm()">Limpar</button>
    <button (click)="cancel()">Cancelar</button>
  </div>

</div>